.burgers-slider__item {
  position: relative;
  padding-bottom: 85px;
  display: flex;
}

.burgers-slider__left,
.burgers-slider__right {
  flex: 1;
}

.burgers-slider__left {
  text-align: center;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.burgers-slider__pic {
  max-width: 98%;
  max-height: 300px;
  width: auto !important;
}

.burgers-slider__right {
  .section__title {
    line-height: 1.1em;
  }
}

.burgers-slider__text {
  color: white;
  margin-bottom: 18px;
}

.burgers-slider__options {
  display: flex;
  align-items: flex-end;
}

.burgers-slider__price {
  color: $red;
  @include gagalin;
  display: flex;
  align-items: flex-end;
}

.burgers-slider__price-amount,
.burgers-slider__price-measure {
  line-height: 1;
}

.burgers-slider__price-amount {
  font-size: 72px;
}

.burgers-slider__price-measure {
  font-size: 30px;
}

.burgers-slider__buy {
  margin-left: 32px;
}

.burger-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  fill: #fff;
  z-index: 20;
}

.burger-slider__arrow {
  width: 100%;
  height: 100%;
}

.burger-slider__btn_next {
  right: -20px;
  svg {
    transform: rotate(-90deg);
  }
}

.burger-slider__btn_prev {
  left: -20px;
  svg {
    transform: rotate(90deg);
  }
}