.hero {
  background: url("../../img/bg/hero-bg.jpg") center center no-repeat;
  position: relative;
}

.hero__content {
  display: flex;
}

.hero__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.hero__left,
.hero__right {
  width: 50%;
}

.hero__right {
  padding-top: 115px;
}

.hero__desc {
  font-size: 65px;
  color: white;
  @include lifehack;
  text-transform: lowercase;
  line-height: 1em;
}

.hero__img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 60px;
  transform: translateX(-50%);
  transition: .3s;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .down-arrow__icon {
      margin-top: -15px;
      width: 45px;
      height: 45px;
    }
  }
}

.down-arrow__icon {
  width: 40px;
  height: 40px;
  transition: .3s;
  fill: #fff;
}