extends ../main.layout.pug

block title
    | Главная страница

block content
    include ../sections/hero
    include ../sections/best
    include ../sections/burgers
    include ../sections/team
    include ../sections/menu
    include ../sections/reviews
    include ../sections/order
    include ../sections/map